.cart-widget {
  position: relative;
  display: inline-flex;
  align-items: right; /* Cambia a center para centrar verticalmente el ícono */
}

/* Configuración del ícono del carrito */
.cart-icon {
  font-size: 2rem; /* Tamaño del ícono */
  color: #333; /* Color del ícono */
}

/* Notificación sobre el carrito */
.notification {
  position: absolute;
  top: -10px; /* Ajusta la posición vertical según sea necesario */
  right: -10px; /* Ajusta la posición horizontal según sea necesario */
  background-color: red; /* Color de fondo de la notificación */
  color: white; /* Color del texto de la notificación */
  border-radius: 50%;
  width: 20px; /* Tamaño del círculo */
  height: 20px; /* Tamaño del círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem; /* Tamaño del texto */
}
